---
- name: Установка и настройка Apache2 
  hosts: lecture_nodes
  become: yes
  tasks:
    - name: Установить пакет apache2
      apt:
        name: apache2
        state: present
        update_cache: yes

    - name: Открыть порт 80 в фаерволе UFW
      ufw:
        rule: allow
        port: "80"
        proto: tcp

    - name: Создать страницу index.html с информацией о системе
      template:
        src: index.html.j2
        dest: /var/www/html/index.html
        mode: '0644'

    - name: Убедиться, что служба apache2 запущена и в автозагрузке
      service:
        name: apache2
        state: started
        enabled: yes

    - name: Проверить ответ HTTP 200
      uri:
        url: "http://localhost"
        status_code: 200
        timeout: 5
      register: web_check

    - name: Показать результат проверки
      debug:
        msg: "✅ Сервер отвечает: {{ web_check.status }}"
